*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist';
}
main{
    background: white;
}
html{
    scroll-behavior: smooth;
}
header {
    position: relative;
    display:flex;
    justify-content: space-between;
    width:100%;
    max-width:3900px;
    margin: auto;
}
.nonebar{
    display: block;
    position: relative;
    background-color: transparent;
    width: 230px;
}
.navbar{   
    z-index: 999;
    display:flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 5px 50px 5px 0px;
} 
.menu-links{
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;  
}
.menu-linksbtn ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    width:300px;
    text-align: center;
}
.menu-linksbtn a {
    display:block;
    display:block;
    text-align: center;
    color:#fff;
    mix-blend-mode: exclusion;
    text-decoration:none;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing:1px
}
.menu-linksbtn a:hover{
    color:var(--high-tiffany, #9BEBEC);
    transition: 0.5s;
}
.menusocial{
    right: 0;
}
.menusocial ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content:space-between;
    width:230px;
    text-align: center;
}
.menusocial ul a {
    text-decoration:none;
    cursor: pointer;
    align-items: center;
}
.menusocial li:first-child{
    display: inline-flex;
    margin-right: 5px;
    border: 1px solid #9BEBEC;
    border-radius: 20px;
}
.menusocial a:first-child{
    color: #9BEBEC;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
    padding: 8px 0px;
    width: 119px;
}


.menu-linksbtn a:hover,
.menu-linksbtn a.active {
  transition: 0.5s ease-out;
  letter-spacing: 1.2px;
}
.btn-toggle{display: none;}
    
@media only screen and (max-width: 1000px) {
    .nonebar{display: none}
  .box{
    width: fit-content;
    height: 0vh;
    position: relative;
    text-align: left;
    z-index: 1;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition: 0.3s;
  }
.btn-toggle {
    position:absolute;
    right:30px;
    top:8px;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:15px;
    height:15px;
    
}
.btn-toggle .bar {
    height:3px;
    width:100%;
    border-radius:20px
}
  .active_box{
    opacity: 1;
    left: 0px;
    pointer-events: fill;
  }
  .menu_icon_box{
    display: block;
    z-index: 2;
    width: fit-content;
    height: auto;
    margin: 20px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
  }
  .line1 , .line2 , .line3{
    width: 20px;
    height: 3px;
    margin: 4px 0px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.2s;
  }
  .active .line1{
    transform: translate(0px , 15px)rotate(45deg);
  }
  .active .line2{
    opacity: 0;
  }
  .active .line3{
    transform: translate(0px , 1px)rotate(-45deg);
  }
  .imglogo-m{
      position: absolute;
      display: block;
      z-index: 999;
      left: 1.9rem;
      top: 0.6rem;
  }
  .imglogo-m img{
      width: 100%;
      max-width: 70px;
      margin: auto;
      padding: 0px;
  }
  .menu-links{
    background-color: #00000031;
  flex-direction: column;
  align-items:center;
  margin-top: 0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  height:280px
  }
  .menu-links ul{
      display: block;
      margin-right: 10px;
  }
  .menu-links a {
  padding:.25rem 2rem
  }
  .menu-linksbtn{
      display: flex;
  }
  .menusocial ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 150;
      justify-content: center;
      margin: auto;
  }
  .menusocial ul li:last-child{
      margin-top: -0.1px;
      margin-left:0;
  }
  .menusocial ul a {
      text-decoration:none;
      cursor: pointer;
      align-items: center;
  }
  .menusocial li:first-child{
      display: inline-flex;
      padding: 2px 4px;
      gap: 8px;
      border: 1px solid #9BEBEC;
      border-radius: 20px;
  }
  .menusocial a:first-child{
      color: #9BEBEC;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      align-items: center;
  }
  .menu-links.active{
      margin: auto;
      margin-top: 70px;
  display:flex;
  }
  .menusocial.active {
      display:flex
  }
  .navbar {
  padding:0px 0px;
  }
  #home {
  display:flex;
  flex-direction:column;
  max-width: 400px;
  text-align: right;
  align-items: end;
  }   
}

.videocontainer{
    position: relative;
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:3900px;
    background-color:transparent;
}
.videoimg {
    display: block;
    width: 100%;
    object-fit: cover;
}
.videop{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 50px 0 50px;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videop img{
    max-width: 300px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.videop p{
    color: #fff;
    width: 605px;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: 'Urbanist';
    font-size: 100.033px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 100.033px */
    top: 50%;
}
.videop p span{
    text-decoration:underline#9BEBEC 6px !important;
    text-underline-offset:15px !important;
    -webkit-text-decoration-line:  underline !important;
    -webkit-text-decoration-color: #9BEBEC !important;
    -webkit-text-decoration-style: solid !important;
    -webkit-text-decoration-thickness: 6px !important;
}
.videop p svg{display: none;}
@media screen and (max-width:1200px) {
    .videop img{
        max-width: 280px;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .videop p{
        width: 100%;
        max-width: 605px;
        height: auto;
        margin: auto;
        font-size: 80.033px;
        top: 50%;
    }
}
@media screen and (max-width:600px) {
    .videoimg{
        width: 100%;
        height: 500px;
        object-position: bottom;
    }
    .videop{
        flex-direction: column;
        padding: 0;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .videop img{
        max-width: 180px;
        margin-bottom: 40px;
    }
    .videop p{
        width: 100%;
        max-width: 317px;
        font-size: 52px;
        line-height: 90%;
    }
    /* .videop p svg{
        display: block;
        position: absolute;
        margin: auto;
        margin-left: 31%;
        margin-top: 8px;
        max-width: 180;
    }*/
}

.aboutcontainer{
    position: relative;
    width: 100%;
    max-width: 3290px;
    margin: auto;
    height: 900;
    background-image: url(../assets/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000300;
}
.about{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: block;
    flex-direction: column;  
    padding:20 50 50 50;
    color: var(--off-white, #FFF);
    font-family: 'Urbanist';
}
.about h2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
}
.about h2 svg{
    margin-top: 16px;
}
.abouttext{  
    display: flex;
    flex-direction: column;
    float: right;
}
.abouttext p{
    width: 100%;
    max-width: 431.135px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    width: 450px;
}
.abouttext p span{
    font-size: 14px;
}
.abouttext h6{
    width: 100%;
    max-width: 431.135px;
    font-size: 14px;
    font-style: normal;
    font-weight:700;
    line-height: 160%;
    letter-spacing: 0.7;
    border: 1px solid #9BEBEC;
    border-radius: 8px;
    margin: 20 0 20 -8;
    padding: 10;
}
.abouttext span{
    width: 100%;
    max-width: 350;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
}
.abouttext img{
    max-width: 150px;
    margin-top: 30px;
}
.aboutreveal.reveal{
    transform: translateX(-50%);
    opacity: 0.2;
    transition: 1s all ease;
}
.aboutreveal.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}

.aboutimgmob{display: none;}
/* @media screen and (max-width:1240px) {
    .about{
        padding:0 100 20 110;}
    .aboutcontainer{
        height:900px;
    }
    .abouttext{   
    width: 100%;
    max-width: 350px;
    }
    .abouttext h2{
        font-size: 32px;
        font-weight: 600;
    }
    .abouttext h2 svg{
        margin-top: 14px;
    }
    .abouttext p{
    width: 100%;
    max-width: 401.135px;
        line-height: 105%;
    }
    .abouttext p span{
        font-size: 14;
    }
    .abouttext h6{
        font-size: 14px;
        font-style: normal;
        font-weight:700;
        line-height: 160%;
        letter-spacing: 0.7;
        border: 1px solid #9BEBEC;
        border-radius: 8px;
        margin: 16 0 16 -8;
        padding: 10;
    }
    .abouttext span{
    width: 100%;
    max-width: 350;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.8px;
    }
} */
@media screen and (max-width:1080px) {
    /*mobile version*/
    .aboutcontainer img{
        display: block;
        width: 100%;
        margin: auto;
        object-fit: cover;
    }
.aboutcontainer{
    background-image: url(../assets/about-bg-m.png);
    height: 1090px;
    max-height: 1990px;
    object-fit:cover;
    margin: auto;
}
.about{
    position: relative;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;  
    padding:0;
    color: var(--off-white, #FFF);
    font-family: 'Urbanist';
}
.about h2{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 290;
}
.about h2 svg{
    margin: auto;
    margin-top: 14px;
}
.abouttext{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.abouttext p{
    width: 100%;
    max-width: 360px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 0;
    margin-bottom: 10px;
}
.abouttext p span{
    font-size: 14px;
}
.abouttext h6{
    display: block;
    width: 100%;
    max-width: 361.135px;
    font-size: 13px;
    font-style: normal;
    font-weight:600;
    line-height: 120%;
    letter-spacing: 0.7;
    border: 1px solid #9BEBEC;
    border-radius: 8px;
    margin: auto;
    padding: 10px 8px;
}
.abouttext span{
    width: 100%;
    max-width: 350;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
}

.servicescontainer{
    background-color: #fff;
    width: 100%;
    max-width: 3290px;
    height: auto;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.servicescontainer .servicestitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 60px;
}
.servicestitle h2 svg{
    margin-top: 16px;
}
.servicestitle p{
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 431.135px;
    color: var(--pure-black, #000);
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%; /* 31.6px */
    letter-spacing: -0.5px;
}
.services{
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding: 0 50px 0 50px;
}
.servicesgrid{
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    row-gap: 24px;
}
.servicesgrid > div {
    flex: 40%; 
}
.servicecard1, .servicecard2{
    border-radius: 20px;
    width: 546px;
    height: 563px;
    padding:40px;
}
.servicecard3, .servicecard4{
    border-radius: 20px;
    width: 546px;
    height: 403px;
    padding:40px;

}
.servicesgrid ul, .servicesprincipal ul {
    position: absolute;
    list-style-position: inside;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    max-width: 481px;     
    letter-spacing: -0.5px;
}
.servicesgrid div svg, .servicesprincipal svg{
    z-index: 1;
    margin-bottom: 10px;
    color: #FFF;
}
.servicesgrid div:hover > svg, .servicesprincipal:hover > svg{
    color: #9BEBEC;
    transition: 0.7s;
}
.servicesgrid div h2, .servicesprincipal h2{
    position: absolute;
    color: #FFF;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.servicesgrid div:hover h2, .servicesprincipal:hover h2{
    color: #9BEBEC;
    transition: 0.7s;
}
.servicecard1{
    position: relative;
    background-image: url(../assets/Frame263.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-right: 24px;
}
.servicecard1 ul{
    position:absolute;
    bottom: 40;
    font-size: 16px;
}
.servicecard2{
    position: relative;
    background-image: url(../assets/Frame264.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.servicecard2 ul{
    position:absolute;
    bottom: 40;
    font-size: 16px;
}
.servicecard3{
    position: relative;
    background-image: url(../assets/Frame265.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: lightgray 50%;
    margin-right: 24px;
}
.servicecard3 ul{
    position:absolute;
    top: 50%;
    transform: translateY(0%);
    font-size: 16px;
}
.servicecard4{
    position: relative;
    background-image: url(../assets/Frame266.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.servicecard4 ul{
    position:absolute;
    top: 50%;
    transform: translateY(0%);
    font-size: 16px;
}
.servicesprincipal {
    position: relative;
    background-image: url(../assets/Frame268.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 20px;
    max-width:1162px;
    height: 330px;
    padding:40px;
    color: #FFF;
    margin-top: 25px;
}
.servicesprincipal ul{
    position:absolute;
    bottom: 20;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 150%;
    max-width: 896px;
    top: 50%;
    transform: translateY(25%);
}
.cards.reveal{
    position: relative;
    transform: translateX(-50%);
    opacity: 0.2;
    transition: 1s all ease;
}
.cards.reveal.active{
    transform: translateX(0%);
    opacity: 1;
}

.myswiper4 {display: none;}
@media screen and (max-width:900px) {
    .servicesgrid, .servicesprincipal{display: none;}
    .mySwiper4 {display: block;
    height: 600px;
}
.mySwiper4 swiper-slide{
    background-color: #FFF;
    text-align: left;
    padding: 0;
    cursor: grab;
}
.servicescontainer{
    position: relative;
    color: #fff;
    background-color: #fff;
    width: 100%;
    max-width: 3290px;
    height: 800;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.services{padding: 0;}
.servicescontainer .servicestitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 50px;
}
.servicestitle h2 svg{
    margin-top: 16px;
}
.servicestitle p{
    display: block;
    width: 345px;
    color: var(--pure-black, #000);
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%; /* 31.6px */
    letter-spacing: -0.5px;
}
.swiper4card{
    border-radius: 20px;
    width: 359px;
    height: 470px;
    padding:36px;
}
.swiper4card ul {
    position: absolute;
    list-style-position: inside;
    text-align: left;
    color: #FFF;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    max-width: 300px;     
    padding: 0;
    margin-left: 0;
    letter-spacing: -0.5px;
}
.swiper4card svg{
    z-index: 1;
    margin-bottom: 10px;
    color: #FFF;
}
.swiper4card:hover > svg{
    color: #9BEBEC;
    transition: 0.7s;
}
.swiper4card h2{
    position: absolute;
    color: #FFF;
    text-align: left;
    font-family: 'Urbanist', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    max-width: 191px;
}
.swiper4card:hover h2{
    color: #9BEBEC;
    transition: 0.7s;
}
.card1{
    position: relative;
    background-image: url(../assets/Frame263.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.swiper4card ul{
    position:absolute;
    bottom: 40;
    font-size: 12px;
}
.card2{
    position: relative;
    background-image: url(../assets/Frame264.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.card3{
    position: relative;
    background-image: url(../assets/Frame265.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.card4{
    position: relative;
    background-image: url(../assets/Frame266.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.prin {
    position: relative;
    background-image: url(../assets/Frame268m.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 0px;
    border-radius: 21px;
}
.swiper-button-prev, .swiper-button-next::before {
    color: #FFF;
    bottom: 0;
}
}
.growthcontainer{
    background: #000;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    padding-top: 211px;
}
.growth{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    padding: 0 50px 0 50px;
}
.growth p{
    width: 878px;
    height: 174px;
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    font-family: 'Urbanist', sans-serif;
}
.vetor{
    display: flex;
    position: absolute;
    width: 250px;
    top: 38;
    right: 265;
    transform: rotate(5px);
}
.imglogo{
    width: 614px;
    height: 190px;
    flex-shrink: 0;
    margin: 88px auto;
    margin-bottom: 235px;
}
.growth svg{
    stroke: #FFF;
    display: flex;
    position: absolute;
    width: 250px;
    bottom: 51;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width:1000px) {
    .growthcontainer{
        background: #000;
        width: 100%;
        max-width: 2990px;
        margin: auto;
        padding-top: 128px;
    }
    .growth{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 343px;
        margin: auto;
        padding: 0
    }
    .growth p{
        width: 342px;
        max-height: 114px;
        margin: auto;
        color: #FFF;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
    }
    .vetor{
        display: flex;
        position: absolute;
        width: 120px;
        top: 49;
        right: 158;
        transform: rotate(15px);
    }
    .imglogo{
        width: 314px;
        height: 100%;
        flex-shrink: 0;
        margin: auto;
        margin-top: 32;
        margin-bottom: 235px;
    }
    .growth svg{
        stroke: #FFF;
        display: flex;
        position: absolute;
        width: 250px;
        bottom: 51;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

.recenttext{
    display: flex;
    flex-direction: column;
    background-color: #259395;
    height: auto;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.recenttext h2{
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Urbanist';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 80px;
}
.recenttext h2 svg{
    margin-top: 16px;
}

:root {
    --swiper-navigation-color: #eee;
    --swiper-pagination-color: #333333cc;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
}
.mySwiper {
    position:relative;
    width: 100%;
    max-width: 3900px;
    margin: auto;
    padding: 0 200 0 200;
    background-color: #259395;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
    height: fit-content;
}
.mySwiper swiper-slide:hover > .swipercontent{
    opacity: 0.8;
    transition: 1s all ease;
}
@media screen and (max-width:1650px) {
    .mySwiper{
        padding: 0 100 0 100;}
    .recenttext h2{
        width: 250px;
    }
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #259395;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swipercontent{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 546px;
    height: 243.673px;
    margin:auto;
    margin-bottom: 80px;
    justify-content: center;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    background-color: #FFF;
    border-radius: 20px;
    padding: 16px 20px;
}
.swipercontent h2{
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    color: #259395;
    font-weight: 800;    
}
.swipercontent h6{
    margin-top: 0px;
    line-height: 158%; 
    color: #259395;
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: 700;
}
.swipercontent svg{
    position: absolute;
    justify-content: center;
    text-align: center;
    left: 50%;
    top: 34%;
    transform: translate(-49%, -50%);
}
swiper-slide p{
    width: 462.77px;
    margin: auto;
    color: #000;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
}
swiper-container {
  margin-left: auto;
  margin-right: auto;
}
swiper-container:host{
    --swiper-theme-color: #fff;
}
.mySwiper3{display: none;}
@media screen and (max-width:900px) {
    .mySwiper{display: none;}
    .mySwiper3 {
        display: block;
        position:relative;
        width: 100%;
        max-width: 3900px;
        margin: auto;
        background-color: #259395;
        overflow: hidden;
        scroll-behavior: smooth;
        cursor: grab;
        height: fit-content;
    }
    .mySwiper3 .swipercontent{
        max-width: 356px;
        height: 250px;
        margin-bottom: 60px;
        padding: 20px 24px;
    }    
    .mySwiper3 .swipercontent h2{
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
    }
    .mySwiper3 .swipercontent h6{
        margin-top: 0px;
        line-height: 158%; 
        color: #259395;
        font-family: 'Calibri';
        font-size: 14px;
        font-weight: 600;
    }
    .mySwiper3 .swipercontent svg{
        position: absolute;
        justify-content: center;
        text-align: center;
        left: 50%;
        top: 31%;
        transform: translate(-49%, -50%);
    }
    swiper-slide p{
        width: 360px;
        margin: auto;
        color: #000;
        font-family: 'Urbanist', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 120%; /* 18.2px */
    }
    :root {
        --swiper-pagination-bullet-width: 8px;
        --swiper-pagination-bullet-height: 8px;
    }
}
@media screen and (max-width:700px) {
    .swipercontent{
        max-width: 310px;
        height: 203.673px;
        margin-bottom: 60px;
        padding: auto;
        padding-top: 8px;
    }
    .swipercontent h2{
        font-size: 18px;
        font-weight: 700;
    }
    .swipercontent h6{
        margin-top: 0px;
        line-height: 158%; 
        color: #259395;
        font-family: 'Calibri';
        font-size: 14px;
        font-weight: 600;
    }
    .swipercontent svg{
        position: absolute;
        justify-content: center;
        text-align: center;
        left: 50%;
        top: 30%;
        transform: translate(-49%, -50%);
    }
    swiper-slide p{
        max-width: 300px;
        margin: auto;
        color: #000;
        font-family: 'Urbanist', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%; /* 18.2px */
    }
    swiper-slide #sixave p{
        max-width: 300px;
        margin: auto;
        color: #000;
        font-family: 'Urbanist', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 120%; /* 18.2px */        
    }
    :root {
        --swiper-pagination-bullet-width: 8px;
        --swiper-pagination-bullet-height: 8px;
    }
}
.mySwiper2{
    position:relative;
    width: 100%;
    max-width: 3900px;
    margin: auto;
    background-color: #000;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
    height: fit-content;
}
.swiper2 {
  text-align: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper2 img{
    width: 100%;
    max-width: 250px;
    margin: auto;
}
.mySwiper2 .swiper2:hover > img{
    max-width: 260px;
    transition: 1s all ease;
}

.objecttitle{
    background-color: #000;
    height: 62px;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.objecttitle p{
    display: flex;
    align-items: end;
    padding-bottom: 12px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #FFF;
}
.teamcontainer{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #010102;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    color: #FFF;
    align-items: center;
}
.teamcontainer h2{
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Urbanist';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.teamcontainer h2 svg{
    margin-top: 16px;
}
.teamgrid{
    display: flex;
    justify-content: space-between;
    height: 1490px;
    width: 100%;
    max-width:715px;
    margin: auto;
    color: #FFF;
    margin-bottom: 100px;
    text-align: left;
    flex-wrap: wrap;
    row-gap: 24px;
}
.teamgrid > div {
    flex: 150%; 
}
.teamgridcard{
    max-width: 330px;
}
.teamgridcard h3{
    margin-top: 82px;
    font-family: 'Urbanist', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.teamgridcard p{
    margin-top: 24px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; 
    opacity: 0.3;
}
.teamgridcard a{
    color: var(--high-tiffany, #9BEBEC);
    font-family: 'Urbanist';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #259395;
    opacity: 0.6;
}
.teamgridcard img{
    width: 100%;
    max-width: 320px;
}
.teamgridcard:hover > img{
    max-width: 330px;
    margin-left: -2.5%;
    margin-bottom: -4%;
    transition: 1s all ease-in-out;
}
@media screen and (max-width:990px) {
    .teamcontainer{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 2990px;
        margin: auto;
        color: #FFF;
        align-items: center;
    }
    .teamcontainer h2{
        margin-top: 60px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'Urbanist';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
    }
    .teamcontainer h2 svg{
        margin-top: 16px;
    }
    .teamgrid{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 100%;
        max-width: 1116px;
        margin: auto;
        color: #FFF;
        margin-bottom: 20px;
        text-align: left;
    }
    .teamgridcard{
        margin: auto;
        margin-bottom: 80px;
    }
    .teamgridcard h3{
        margin-top: 22px;
        font-family: 'Urbanist', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
    }
    .teamgridcard p{
        margin-top: 24px;
        font-family: 'Urbanist', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 158%; 
        opacity: 0.3;
    }
    .teamgridcard a{
        color: var(--high-tiffany, #9BEBEC);
        font-family: 'Urbanist';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        color: #259395;
        opacity: 0.6;
    }
    
}
.contact{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #010102;
    width: 100%;
    max-width: 3990px;
    margin: auto;
    color: #9BEBEC;
    align-items: center;
    padding-bottom: 42px;
}
.contactinfo{
    display: flex;
    justify-content: space-between;
    width: 861px;
    align-items: center;
    align-content: center;
}
.contactinfo h6{
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size:28px;
    font-style: normal;
    font-weight: 600;
    margin-left: 80px;
}
.contactinfo a{
    display: flex;
    font-family: 'Urbanist', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #9BEBEC; 
    width: 205px;
    height:52px;
    display: inline-flex;
    padding: 24px 30px;
    border: 1px solid #9BEBEC;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    line-height: 40%; 
    margin-right: 80px;
    justify-content: center;
}
.contactvetor{
    width: 100%;
    max-width: 2990px;
    margin: auto;
    background-color: #010102;
}
.border{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    border: 1px solid #9BEBEC;
}
@media screen and (max-width:1100px) {
    .contact svg{
        display: none;
    }
    .contact{
        padding-bottom: 42px;
    }
    .contactinfo{
        flex-direction: column;
        width: 401px;
    }
    .contactinfo h6{
        max-width: 238px;
        margin: auto;
        font-size:32px;
    }
    .contactinfo a{
        font-size: 28px;
        margin-right: 0px;
        max-width: 238px;
        margin: auto;
        margin-top: 16px;
    }
    .border{
        max-width: 650px;
    }

}
@media screen and (max-width:700px) {
    .contactinfo{
        flex-direction: column;
        width: 361px;
    }
    .border{
        max-width: 350px;
    }

}
footer{
    position: relative;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    background-color: #010102;
    color: #FFF;
    height: auto;
}
.footertitle h2{
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin: auto;
    align-items: center;
    font-family: 'Urbanist';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.footertitle svg{
    margin-top: 16px;
}
.footergrid{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 0 50px 0 50px;
    justify-content: space-between;
    align-items: center;
}
.footerinfo{
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 650px;
    margin-left: 30px;
}
.footerinfo img{
    top: 100;
    position: absolute;
}
.footerinfo ul{
    list-style: none;
    position: absolute;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8.445px;
}
.footerinfo ul li{
    display: flex;
    align-items: center;
    gap: 8.45px;
}
.footerinfo ul li p{
    display: block;
    margin-top: 4px;
    font-family: 'Urbanist';
    font-size: 14px;
    font-style: normal;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.form{
    position: relative;
    display: block;
    right: 0;
    width: 660px;
    justify-content: right;
    margin: auto;
    height: 450px;
    background-color: #010102;
}
form {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 17px;
    background-color: #010102;
}
#form input, textarea{
    width: 100%;
    list-style: none;
    border: 4px solid #fff;
    border-radius: 16px;
    padding: 20px;
    background-color: #010102;
}
#form input{
    height:  46px;    
}
#form textarea{
    padding: 20px;
}
#form button{
    margin-top: 5px;
    width: 110px;
    border-radius: 5px;
    list-style: none;
    border: 2px solid #fff;
    color: #9BEBEC;
    border-radius: 16px;
    padding: 8px;
    margin: auto;
    background-color: #010102;
    cursor: pointer;
}
#form button:hover{
    border: 2px solid #259395;
    transition: 0.7s;
}
.formgroup1, .formgroup2{
    display: flex;
    gap: 20px;
}
.rights{
    position: relative;
    height: 91px;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    margin-top: 200px;
    padding: 34px 0;
    background-color: #9BEBEC;
    align-items: center;
    text-align: center;
}
.rights p{
    color: #4E4E4E;
    font-family: 'Urbanist';
    font-size: 14.4px;
    font-weight: 500;
    line-height: 150%;
}
@media screen and (max-width:1000px) {
    footer{
        position: relative;
        width: 100%;
        max-width: 2990px;
        margin: auto;
        background-color: #010102;
        color: #FFF;
        height: 1211;
    }
    .footertitle h2{
        color: #FFF;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        margin: auto;
        align-items: center;
        font-family: 'Urbanist';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
    }
    .footertitle svg{
        margin-top: 16px;
    }
    .footergrid{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 520px;
        margin: auto;
        padding: 0 10px 0 10px;
        justify-content:center;
        align-items: center;
    }
    .footerinfo{
        display: flex;
        flex-direction: column;
        max-width: 310px;
        height: 650px;
        margin: auto;
        margin-left: 0px;
    }
    .footerinfo img{
        top: 630;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 350;
        position: absolute;
    }
    .footerinfo ul{
        max-width: 260;
        list-style: none;
        position: absolute;
        top: 1050;
        left: 0;
        right: 0;
        margin: auto;
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8.445px;
    }
    .footerinfo ul li{
        display: flex;
        align-items: center;
        gap: 8.45px;
    }
    .footerinfo ul li p{
        display: block;
        margin-top: 4px;
        font-family: 'Urbanist';
        font-size: 14px;
        font-style: normal;
        opacity: 0.5;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
    }
    
    .form{
        position: absolute;
        display: block;
        right: 0;
        top: 30;
        left: 0;
        width: 460px;
        justify-content: right;
        margin: auto;
        height: 450px;
        background-color: #010102;
    }
    form {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: right;
        flex-direction: column;
        gap: 17px;
        background-color: #010102;
    }
    #form input, textarea{
        width: 100%;
        list-style: none;
        border: 4px solid #fff;
        border-radius: 16px;
        padding: 10px;
        background-color: #010102;
    }
    #form input{
        height:  46px;    
    }
    #form button{
        margin-top: 5px;
        width: 110px;
        border-radius: 5px;
        list-style: none;
        border: 2px solid #fff;
        color: #9BEBEC;
        border-radius: 16px;
        padding: 8px;
        margin: auto;
        background-color: #010102;
        cursor: pointer;
    }
    #form button:hover{
        border: 2px solid #259395;
        transition: 0.7s;
    }
    .formgroup1, .formgroup2{
        display: flex;
        gap: 20px;
    }
    .rights{
        height: 60px;
        padding: 24px 0;
        margin-top: 510px;
    }
    .rights p{
        font-size: 11px;
    }
}
@media screen and (max-width:770px) {
    .form{
        width: 360px;
        margin: auto;
        height: 400px;
    }
    .rights{
        height: 60px;
        padding: 24px 0;
    }
    .rights p{
        font-size: 11px;
    }
}

.swiper-button-next, .swiper-button-prev{top: 0%;}